    <div class="primary-sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="logo">
                <i class='bx bxs-network-chart'></i>
                <span>Pulse</span>
            </div>
            <i class="bx bx-menu" id="sidebarBtn"></i>
        </div>
        
        <% if (session.authenticated) { %>
        <div class="user <%= pageName === 'user' && 'active' %>">
            <a class="user-link" href="/user/profile">
                <img class="user-img" src="<%= user.image_url %>" alt="Profile Image" fetchPriority="high">
            </a>
            <div class="user-details">
                <span class="user-details-name"><%= user.display_name %></span>
                <% if (user.is_employee) { %>
                <span class="user-details-role">Employee</span>
                <% } else { %>
                <span class="user-details-role">Project Manager</span>
                <% } %>
            </div>
        </div>
        <% } %>
        <ul>
            <% if (session.authenticated) { %>
            <li>
                <a class="nav-item <%= pageName === 'dashboard' && 'active' %>" href="/dashboard">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="nav-item-label">Dashboard</span>
                </a>
                <span class="primary-tooltip">Dashboard</span>
            </li>
            <li>
                <a class="nav-item <%= pageName === 'calendar' && 'active' %>" href="/calendar">
                    <i class='bx bxs-calendar'></i>
                    <span class="nav-item-label">Calendar</span>
                </a>
                <span class="primary-tooltip">Calendar</span>
            </li>
                <% if (!user.is_employee) { %>
                <li>
                    <a class="nav-item <%= pageName === 'projects' && 'active' %>" href="/projects">
                        <i class='bx bx-bar-chart-square'></i>
                        <span class="nav-item-label">Projects</span>
                    </a>
                    <span class="primary-tooltip">Projects</span>
                </li>
                <% } else { %>
                <li>
                    <a class="nav-item <%= pageName === 'report' && 'active' %>" href="/report">
                        <i class='bx bxs-report'></i>
                        <span class="nav-item-label">Report</span>
                    </a>
                    <span class="primary-tooltip">Report</span>
                </li>
                <% } %>
                <li>
                    <a class="nav-item" href="/user/logout">
                        <i class="bx bx-log-out"></i>
                        <span class="nav-item-label">Logout</span>
                    </a>
                    <span class="primary-tooltip">Logout</span>
                </li>
            <% } else { %>
            <li>
                <a class="nav-item <%= pageName === 'user' && 'active' %>" href="/user/login">
                    <i class='bx bx-log-in'></i>
                    <span class="nav-item-label">Login</span>
                </a>
                <span class="primary-tooltip">Login</span>
            </li>
            <% } %>
        </ul>
        <button id="themeBtn" class="">
            <i id="themeSun" class='bx bxs-sun'></i>
            <i id="themeMoon" class='bx bxs-moon' ></i>
        </button>
    </div>

    <script type="text/javascript" src="/js/sidebar.js" defer></script>
    <script type="text/javascript" src="/js/theme.js" defer></script>
