<%- include("./../partials/header.ejs") %>

<div class="body-layout">
    <div class="main-layout">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main">
            <h1><%= title %></h1>
            <article class="article">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, laudantium dolorem magnam rem nulla laboriosam consequatur eos neque quae perspiciatis error repellat adipisci doloremque quam est ullam quibusdam vel.</p>
                <p>A vero distinctio earum. Nisi ut quam, necessitatibus officia rerum, laudantium similique dolorem sit cum dicta earum atque laborum natus quis accusamus consectetur fugiat iusto repellendus nam. Non, laudantium dolores!</p>
                <p>Optio iste omnis quaerat repellendus eaque? Molestiae temporibus officiis, in iure recusandae repellendus nulla ipsum! Excepturi perspiciatis autem commodi atque sint at deserunt eaque, voluptatibus facere, tempore laboriosam culpa odit.</p>
                <p>Minima quo, consequatur alias possimus labore reprehenderit laudantium beatae est sit, ipsa iure fugit vero placeat, maxime minus mollitia illum blanditiis eos eligendi. Earum iure quaerat corrupti neque mollitia temporibus?</p>
            </article>
            <div class="contacts">
                <a href="<%= gmail %>" target="_blank" aria-label="Link to my gmail account">
                    <div class="bi-container">
                        <i class="bi bi-envelope-at"></i>
                    </div>
                </a>
                <div class="bi-container">
                    <a href="<%= github %>" target="_blank" aria-label="Link to github repository">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <div class="bi-container">
                    <a href="<%= phone %>" target="_blank" aria-label="Link to my phone number">
                        <i class="bi bi-telephone-fill"></i>
                    </a>
                </div>
            </div>
        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>
</div>
