<%- include("./../partials/header.ejs") %>

<div class="body-container">
    <div class="main-container">
        <%- include("./../partials/menu.ejs") %>
        <main class="main">
            <div class="dashboard-grid">
                <div class="dashboard-grid-project-creation">
                    <div class="primary-flex primary-row primary-space-between">
                        <a href="/project/create">
                            <button class="button">
                                <span>Create new project</span>
                            </button>
                        </a>
                        <a href="/project/assign">
                            <button class="button">
                                <span>Assign team members</span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="dashboard-grid-projects">
                    <div class="dashboard-table-projects primary-flex primary-col">
                        <search class="searchbar-container">
                            <form class="form-body searchbar-form">
                                <label class="searchbar-label" for="searchbarInput">
                                    <div class="form-input">
                                        <input id="searchbarInput" class="searchbar-input" type="search" name="q1" required autocomplete="off" autocapitalize="off" onblur="this.value=''" placeholder="Search">
                                        <i class='searchbar-input-icon bx bx-search' ></i>
                                        <a class="searchbar-input-reset" href="?">
                                            <button class="projects-searchbar-button" type="button">
                                                <i class='bx bx-reset'></i>
                                            </button>
                                        </a>
                                    </div>
                                </label>
                            </form>
                        </search>
                        <table class="primary-table">
                            <caption>Managed Projects</caption>
                            <thead class="primary-thead">
                                <tr class="primary-tr">
                                    <th class="primary-th">
                                        <div class="primary-flex primary-row">
                                            <i class='bx bxs-hard-hat'></i>
                                            <span>Name</span>
                                        </div>
                                    </th>
                                    <th class="primary-th">
                                        <i class='bx bxs-calendar-check' ></i>
                                        <span>Start Date</span>
                                    </th>
                                    <th class="primary-th">
                                        <i class='bx bxs-calendar-x' ></i>
                                        <span>End Date</span>
                                    </th>
                                    <th class="primary-th">
                                        <i class='bx bxs-calendar-star'></i>
                                        <span>Deadline</span>
                                    </th>
                                    <th class="primary-th">
                                        <div class="primary-flex primary-row">
                                            <i class='bx bxs-bell-ring'></i>
                                            <span>Submitted Reports</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="primary-tbody">
                                <% projects.forEach(function(x) { %>
                                <tr class="primary-tr">
                                    <td class="primary-td" data-label="Name" data-icon="ðŸš§">
                                        <div class="primary-flex primary-row">
                                            <button aria-label="Copy project as a shareable link" class="project-btn" onclick="copyToClipboard('<%= baseUrl + '/project/view/' + x.project_id %>')">
                                                <i class="bi bi-link-45deg"></i>
                                            </button>
                                            <a href="/project/update/<%= x.id %>">
                                                <span><%= x.name %></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="primary-td" data-label="Start Date" data-icon="ðŸ“…">
                                        <span><%= x.start_date %></span>
                                    </td>
                                    <td class="primary-td" data-label="End Date" data-icon="ðŸ“…">
                                        <span><%= x.end_date %></span>
                                    </td>
                                    <td class="primary-td" data-label="Deadline" data-icon="ðŸ“…">
                                        <span><%= x.report_deadline %></span>
                                    </td>
                                    <td class="primary-td" data-label="Count" data-icon="ðŸ’¯">
                                        <span><%= x.report_count %></span>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="dashboard-table-reports primary-flex primary-col">
                        <search class="searchbar-container">
                            <form class="form-body searchbar-form">
                                <label class="searchbar-label" for="searchbarInput">
                                    <div class="form-input">
                                        <input id="searchbarInput" class="searchbar-input" type="search" name="q2" required autocomplete="off" autocapitalize="off" onblur="this.value=''" placeholder="Search">
                                        <i class='searchbar-input-icon bx bx-search' ></i>
                                        <a class="searchbar-input-reset" href="?">
                                            <button class="projects-searchbar-button" type="button">
                                                <i class='bx bx-reset'></i>
                                            </button>
                                        </a>
                                    </div>
                                </label>
                            </form>
                        </search>
                        <table class="primary-table">
                            <caption>Submitted Reports</caption>
                            <thead class="primary-thead">
                                <tr class="primary-tr">
                                    <th class="primary-th">
                                        <div class="primary-flex primary-row">
                                            <i class='bx bxs-hard-hat'></i>
                                            <span>Project</span>
                                        </div>
                                    </th>
                                    <th class="primary-th">
                                        <div class="primary-flex primary-row">
                                            <i class='bx bxs-user'></i>
                                            <span>Employee</span>
                                        </div>
                                    </th>
                                    <th class="primary-th">
                                        <div class="primary-flex primary-row">
                                            <i class="bi bi-calendar-x-fill"></i>
                                            <span>Date Sent</span>
                                        </div>
                                    </th>
                                    <th class="primary-th">
                                        <div class="primary-flex primary-row">
                                            <i class='bx bxs-receipt'></i>
                                            <span>Status</span>
                                        </div>
                                    </th>
                                    <th class="primary-th">
                                        <div class="primary-flex primary-row">
                                            <i class='bx bxs-category-alt' ></i>
                                            <span>Category</span>
                                        </div>
                                    </th>
                                    <th class="primary-th">
                                        <div class="primary-flex primary-row">
                                            <i class='bx bxs-megaphone'></i>
                                            <span>Actions</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="primary-tbody">
                                <% reports.forEach(function(x) { %>
                                <tr class="primary-tr">
                                    <td class="primary-td" data-label="Project's Name" data-icon="ðŸš§">
                                        <span><%= x.project_name %></span>
                                    </td>
                                    <td class="primary-td" data-label="Employee's Name" data-icon="ðŸƒ">
                                        <span><%= x.employee_name %></span>
                                    </td>
                                    <td class="primary-td" data-label="Creation Date" data-icon="ðŸ“…">
                                        <span><%= x.creation_date %></span>
                                    </td>
                                    <td class="primary-td" data-label="Status" data-icon="ðŸ•¹ï¸">
                                        <span><%= x.status %></span>
                                    </td>
                                    <td class="primary-td" data-label="Category" data-icon="ðŸ—‚ï¸">
                                        <span><%= x.category %></span>
                                    </td>
                                    <td class="primary-td" data-label="Actions" data-icon="ðŸ“£">
                                        <div class="primary-flex primary-row">
                                            <a href="/manager/report/<%= x.id %>">
                                                <i class='bx bxs-edit' ></i>
                                            </a>
                                            <a href="/manager/report/history/<%= x.id %>">
                                                <i class='bx bx-history'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>

    <script text="text/javascript" src="/js/dashboard.js" defer></script>
    <script text="text/javascript" src="/js/projects.js" defer></script>
</div>
