<%- include("./../partials/header.ejs") %>

<div class="body-layout">
    <div class="main-layout">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main extend">

        <div class="dashboard-grid">
            <div class="dashboard-grid-projects">
                <div class="primary-flex primary-col">
                    <search class="projects-searchbar">
                        <form class="form-body projects-searchbar-form">
                            <label class="projects-searchbar-label" for="searchbarInput">
                                <div class="form-input">
                                    <input id="searchbarInput" class="projects-searchbar-input form-search-input" type="search" placeholder="Search for a specific project (id, name or dates)" name="q" required autocomplete="off" autocapitalize="off">
                                </div>
                            </label>
                            <button class="projects-searchbar-button button" type="submit">
                                <span>Search</span>
                            </button>
                            <a class="form-button-link" href="?">
                                <button class="projects-searchbar-button button" type="button">
                                    <span>Clear query</span>
                                </button>
                            </a>
                        </form>
                    </search>
                    <table class="primary-table">
                        <caption>Managed Projects</caption>
                        <thead class="primary-thead">
                            <tr class="primary-tr">
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class='bx bx-text'></i>
                                        <span>Name</span>
                                    </div>
                                </th>
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class="bi bi-calendar-x-fill"></i>
                                        <span>Start</span>
                                    </div>
                                </th>
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class="bi bi-calendar-x-fill"></i>
                                        <span>End</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="primary-tbody">
                            <% projects.forEach(function(x) { %>
                            <tr class="primary-tr">
                                <!-- <td class="primary-td color-tab <%= x.severity %>"></td> -->
                                <td class="primary-td" data-cell="name">
                                    <div class="primary-flex primary-row">
                                        <button aria-label="Copy project as a shareable link" class="project-btn" onclick="copyToClipboard('<%= baseUrl + '/project/view/' + x.project_id %>')">
                                            <i class="bi bi-link-45deg"></i>
                                        </button>
                                        <a href="/project/update/<%= x.project_id %>">
                                            <span><%= x.name %></span>
                                        </a>
                                    </div>
                                </td>
                                <td class="primary-td" data-cell="start date">
                                    <span><%= x.start_date %></span>
                                </td>
                                <td class="primary-td" data-cell="end date">
                                    <span><%= x.end_date %></span>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <div class="primary-flex primary-row">
                        <a href="/project/create">
                            <button class="button">
                                <span>Create new project</span>
                            </button>
                        </a>
                        <a href="/project/assign">
                            <button class="button">
                                <span>Assign team members</span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="primary-flex primary-col">
                    <table class="primary-table">
                        <caption>Submitted Reports</caption>
                        <thead class="primary-thead">
                            <tr class="primary-tr">
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class="bi bi-calendar-x-fill"></i>
                                        <span>Project's Name</span>
                                    </div>
                                </th>
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class="bi bi-calendar-x-fill"></i>
                                        <span>Employee's Name</span>
                                    </div>
                                </th>
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class="bi bi-calendar-x-fill"></i>
                                        <span>Date Sent</span>
                                    </div>
                                </th>
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class='bx bxs-receipt'></i>
                                        <span>Status</span>
                                    </div>
                                </th>
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class="bi bi-calendar-x-fill"></i>
                                        <span>View Report</span>
                                    </div>
                                </th>
                                <th class="primary-th">
                                    <div class="primary-flex primary-row">
                                        <i class='bx bx-history'></i>
                                        <span>Report History</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="primary-tbody">
                            <% reports.forEach(function(x) { %>
                            <tr class="primary-tr">
                                <td class="primary-td" data-cell="project-name">
                                    <span><%= x.project_name %></span>
                                </td>
                                <td class="primary-td" data-cell="employee-name">
                                    <span><%= x.employee_name %></span>
                                </td>
                                <td class="primary-td" data-cell="creation-date">
                                    <span><%= x.creation_date %></span>
                                </td>
                                <td class="primary-td" data-cell="status">
                                    <span><%= x.status %></span>
                                </td>
                                <td class="primary-td" data-cell="report-view">
                                    <a href="/manager/report/<%= x.id %>">
                                        <span>Link</span>
                                    </a>
                                </td>
                                <td class="primary-td" data-cell="report-history">
                                    <a href="/manager/report/history/<%= x.id %>">
                                        <span>Link</span>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>

    <script text="text/javascript" src="/js/dashboard.js" defer></script>
    <script text="text/javascript" src="/js/projects.js" defer></script>
</div>
