<%- include("./../partials/header.ejs") %>

<div class="body-layout">
    <div class="main-layout">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main extend">

        <div class="dashboard-grid">
            <div class="dashboard-grid-1">
                <div class="dashboard-stats">
                    <i class='dashboard-stats-icon bx bxs-star'></i>
                    <span data-value="400" class="dashboard-stats-value"></span>
                    <span data-value="lorem ipsum" class="dashboard-stats-text"></span>
                </div>
                <div class="dashboard-stats">
                    <i class='dashboard-stats-icon bx bxs-star'></i>
                    <span data-value="340" class="dashboard-stats-value"></span>
                    <span data-value="lorem ipsum" class="dashboard-stats-text"></span>
                </div>
                <div class="dashboard-stats">
                    <i class='dashboard-stats-icon bx bxs-star'></i>
                    <span data-value="225" class="dashboard-stats-value"></span>
                    <span data-value="lorem ipsum" class="dashboard-stats-text"></span>
                </div>
                <div class="dashboard-stats">
                    <i class='dashboard-stats-icon bx bxs-star'></i>
                    <span data-value="280" class="dashboard-stats-value"></span>
                    <span data-value="lorem ipsum" class="dashboard-stats-text"></span>
                </div>
            </div>
            <div class="dashboard-grid-2" id="circleProgress">
                <circle-progress value="<%= progress %>" max="100" text-format="percent"></circle-progress>
            </div>
            <div class="dashboard-grid-3 dashboard-grid-report">
                <table class="primary-table assignment-table">
                    <caption>Upcoming Reports</caption>
                    <thead class="primary-thead">
                        <tr class="primary-tr">
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bx-text' ></i>
                                    <span>Name</span>
                                </div>
                            </th>
                            <th class="primary-th" colspan="2">
                                <div class="primary-flex primary-row">
                                    <i class='bx bxs-calendar-star'></i>
                                    <span>Start and end date</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bx-calendar-x' ></i>
                                    <span>Deadline</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bxs-time-five' ></i>
                                    <span>Time left</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="primary-tbody">
                        <% assignments.forEach(function(x) { %>
                        <tr class="primary-tr">
                            <td class="primary-td" data-cell="project-name">
                                <a href="/employee/report/<%= x.project_id %>">
                                    <span><%= x.project_name %></span>
                                </a>
                            </td>
                            <td class="primary-td" data-cell="deadline" colspan="2">
                                <span><%= x.project_start_date %></span>
                                <span>➟</span>
                                <span><%= x.project_end_date %></span>
                            </td>
                            <td class="primary-td" data-cell="deadline">
                                <span><%= x.deadline_date %></span>
                            </td>
                            <td class="primary-td" data-cell="time-left">
                                <span><%= x.time_left %></span>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                <table class="primary-table report-table">
                    <caption>Sent Reports</caption>
                    <thead class="primary-thead">
                        <tr class="primary-tr">
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bxs-id-card'></i>
                                    <span>Project ID</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bx-text' ></i>
                                    <span>Project Name</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bx-text' ></i>
                                    <span>Text</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bxs-calendar-check' ></i>
                                    <span>Date sent</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bxs-receipt'></i>
                                    <span>Status</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bx-history'></i>
                                    <span>Report History</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="primary-tbody">
                        <% reports.forEach(function(x) { %>
                        <tr class="primary-tr">
                            <td class="primary-td" data-cell="project-id">
                                <span><%= x.project_id %></span>
                            </td>
                            <td class="primary-td" data-cell="project-name">
                                <span><%= x.project_name %></span>
                            </td>
                            <td class="primary-td" data-cell="report-text">
                                <span><%= x.text %></span>
                            </td>
                            <td class="primary-td" data-cell="report-creation-date">
                                <span><%= x.creation_date %></span>
                            </td>
                            <td class="primary-td" data-cell="report-status">
                                <span><%= x.status %></span>
                            </td>
                            <td class="primary-td" data-cell="report-history">
                                <a href="/manager/report/history/<%= x.id %>">
                                    <span>Link</span>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>

    <script text="text/javascript" src="/js/dashboard.js" defer></script>
</div>
