<%- include("./../partials/header.ejs") %>

<main class="main">
    <h1><%= error_code %></h1>
    <h5><%= error_title %></h5>
    <p><%= error_message %></p>
</main>

<img class="gif gif-transparent" src="img/gifs/icons8-ghost.gif">

<%- include("./../partials/footer.ejs") %>
