<%- include("./../partials/header.ejs") %>

<div class="body-layout">
    <div class="main-layout">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main">
            <div class="form-container drop-container">
                <div class="form-header drop-header">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/media/sample.csv" download>Download .csv sample file</a>
                </div>
                <form id="dropForm" class="form-body drop-body" method="POST" action="/project/assign/upload">
                    <div class="drop-body-container">
                        <label class="drop-label" for="dropInput" id="dropArea">
                            <i class='drop-icon bx bxs-file'></i>
                            <p id="dropText" class="drop-text"><b>Choose a file</b> or drag it here</p>
                            <span class="drop-extension">Supports: CSV</span>
                            <input type="file" accept=".csv" id="dropInput" hidden>
                        </label>
                    </div>
                    <div class="drop-body-details-container">
                        <label for="projectInput">
                            <span>Choose a project:</span>
                            <div class="form-input">
                                <select id="projectInput" required class="form-select-input">
                                    <!-- <optgroup label="Theropods">
                                        <option value="">Pulse</option>
                                    </optgroup> -->
                                    <% projects.forEach(function(x) { %>
                                    <option value="<%= x.project_id %>"><%= x.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </label>
                        <label class="form-input-label" for="reportFreq">
                            <span>Choose a report frequency:</span>
                            <div class="form-input">
                                <select name="f_report_freq" id="reportFreq" class="form-select-input">
                                    <option value="" selected>None</option>
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="fortnightly">Fortnightly</option>
                                    <option value="monthly">Monthly</option>
                                </select>
                            </div>
                        </label>
                        <label for="reportDate" class="form-input-label">
                            <span>Choose a report date (optional):</span>
                            <div class="form-input">
                                <input id="reportDate" type="date" class="form-date-input">
                            </div>
                        </label>
                    </div>
                    <button id="dropSubmitBtn" class="button form" type="submit">
                        <span>Assign team members</span>
                    </button>
                    <a class="form-button-link" href="/dashboard">
                        <button class="button" type="button">
                            <span>Go Back</span>
                        </button>
                    </a>
                </form>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="/js/assign.js" defer></script>

    <%- include("./../partials/footer.ejs") %>
</div>
