<%- include("./../partials/header.ejs") %>

<div class="body-layout">
    <div class="main-layout">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main">
            <div class="form-container">
                <div class="form-root">
                    <div class="form-header">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="/media/sample.csv" download>Download .csv sample file</a>
                    </div>
                    <form id="dropForm" class="form" method="POST" action="/project/assign/upload">
                        <div class="drop-container">
                            <label class="drop-label" for="dropInput" id="dropArea">
                                <i class='drop-icon bx bxs-file'></i>
                                <p id="dropText" class="drop-text"><b>Choose a file</b> or drag it here</p>
                                <span class="drop-extension">Supports: CSV</span>
                                <input type="file" accept=".csv" id="dropInput" hidden>
                            </label>
                        </div>
                        <label for="projectInput">Choose a project:</label>
                        <select id="projectInput" required>
                            <!-- <optgroup label="Theropods">
                                <option value="de1a78fd-2d8d-4a41-a70f-6f74515abf16">Pulse</option>
                            </optgroup> -->
                            <% projects.forEach(function(x) { %>
                            <option value="<%= x.project_id %>"><%= x.name %></option>
                            <% }); %>
                        </select>
                        <label for="reportFreq">Choose a report frequency:</label>
                        <select id="reportFreq">
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="fortnightly">Fortnightly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                        <label for="reportDate">Choose a report date (optional):</label>
                        <input id="reportDate" type="date">
                        <div class="form-spacer-x4"></div>
                        <button id="dropSubmitBtn" class="button form-button" type="submit">
                            <span>Assign team members</span>
                        </button>
                        <a href="/projects">
                            <button class="button form-button" type="button">
                                <span>Go Back</span>
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="/js/assign.js" defer></script>

    <%- include("./../partials/footer.ejs") %>
</div>
