<%- include("./../partials/header.ejs") %>

<div class="body-layout">
    <div class="main-layout">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main">
            <div class="form-container">
                <div class="form-root">
                    <div class="form-header"></div>
                    <form class="form" method="POST" action="/project/create/posted">
                        <div class="form-input">
                            <input class="form-text-input" type="text" aria-invalid="false" id="name" name="f_name" readonly placeholder="Enter a project name" value="<%= project.name %>">
                            <label class="form-input-label label" for="name" id="nameLabel">Name</label>
                        </div>
                        <div class="form-input">
                            <textarea class="form-input-textarea" aria-invalid="false" id="description" name="f_description" rows="5" cols="33" readonly><%= project.description %></textarea>
                        </div>
                        <div class="form-input">
                            <input class="form-text-input" type="date" aria-invalid="false" id="" value="<%= project.creation_date %>" readonly>
                            <label class="form-input-label label" for="" id="">Creation</label>
                        </div>
                        <div class="form-input">
                            <input class="form-text-input" type="date" aria-invalid="false" id="" value="<%= project.modified_date %>" readonly>
                            <label class="form-input-label label" for="" id="">Last Modified</label>
                        </div>
                        <div class="form-input">
                            <input class="form-text-input" type="date" aria-invalid="false" id="dueDate" name="f_due_date" readonly value="<%= new Date(project.due_date).toISOString().split('T')[0] %>">
                            <label class="form-input-label label" for="dueDate" id="dueDateLabel">Due Date</label>
                        </div>
                        <a href="/dashboard">
                            <button class="button form-button" type="button">
                                <span>Go Back</span>
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>
</div>
