<%- include("./../partials/header.ejs") %>

<div class="body-container">
    <div class="main-container">
        <%- include("./../partials/menu.ejs") %>
        <main class="main">
            <div class="primary-flex primary-col">
                <table class="primary-table">
                    <caption>Report history</caption>
                    <thead class="primary-thead">
                        <tr class="primary-tr">
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bxs-id-card'></i>
                                    <span>Sender's ID</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bxs-send'></i>
                                    <span>Sender's Name</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class="bi bi-calendar-x-fill"></i>
                                    <span>Date Sent</span>
                                </div>
                            </th>
                            <th class="primary-th">
                                <div class="primary-flex primary-row">
                                    <i class='bx bxs-message-dots' ></i>
                                    <span>Comment</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="primary-tbody">
                        <% history.forEach(function(x) { %>
                        <tr class="primary-tr">
                            <td class="primary-td" data-label="Employee's ID" data-icon="ðŸš§">
                                <span><%= x.user_id %></span>
                            </td>
                            <td class="primary-td" data-label="Employee's Name" data-icon="ðŸƒ">
                                <span><%= x.user_name %></span>
                            </td>
                            <td class="primary-td" data-label="Creation Date" data-icon="ðŸ“…">
                                <span><%= x.creation_date %></span>
                            </td>
                            <td class="primary-td" data-cell="text" data-label="Comment" data-icon="ðŸ“">
                                <span><%= x.comment %></span>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                <a class="form-button-link" href="/dashboard">
                    <button class="button" type="button">
                        <span>Go Back</span>
                    </button>
                </a>
            </div>
        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>
</div>
