<%- include("./../partials/header.ejs") %>

<div class="body-container">
    <div class="main-container">
        <%- include("./../partials/menu.ejs") %>
        <main class="main">
            <div class="form-root">
                <div class="form-container">
                    <div class="form-header">
                        <h2><%= title %></h2>
                    </div>
                    <form class="form-body" method="POST" action="/employee/report/posted">
                        <input name="f_id" required hidden value="<%= project_id %>">
                        <label class="form-input-label" for="text" id="textLabel">
                            <span>Text Message:</span>
                            <div class="form-input">
                                <textarea class="form-textarea-input" aria-invalid="false" id="text" name="f_text" rows="10" cols="33" required placeholder="Enter a text message to send with the report"></textarea>
                            </div>
                        </label>
                        <label class="form-input-label" for="category" id="categoryLabel">
                            <span>Category</span>
                            <div class="form-input">
                                <select name="f_category_id" id="category" required class="form-select-input">
                                    <option value="">--- SELECT A CATEGORY ---</option>
                                    <% categories.forEach(function(x) { %>
                                    <option value="<%= x.id %>"><%= x.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </label>
                        <div class="primary-flex primary-row">
                            <button class="button" type="submit">
                                <span>Send</span>
                            </button>
                            <button class="button" type="reset">
                                <span>Cancel</span>
                            </button>
                        </div>
                        <a class="form-button-link" href="/dashboard">
                            <button class="button" type="button">
                                <span>Go Back</span>
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>
</div>
